.list {
  margin-top: 3rem;
  overflow: hidden;
  height: 70%;
}

.listItem {
  position: relative;
  padding: 0.25rem 1rem;
  text-decoration: none;
  color: white;
  border: 1px solid white;
  display: flex;
  justify-content: space-between;
  align-items: center;
  font-size: 14px;
}
