.list {
  margin-top: 3rem;
  height: 70%;

  :nth-child(1) {
    opacity: 0;

    animation: fade-in 0.3s 0.1s forwards cubic-bezier(0.11, 0, 0.5, 0);
  }

  :nth-child(2) {
    opacity: 0;

    animation: fade-in 0.3s 0.3s forwards cubic-bezier(0.11, 0, 0.5, 0);
  }

  :nth-child(3) {
    opacity: 0;

    animation: fade-in 0.3s 0.5s forwards cubic-bezier(0.11, 0, 0.5, 0);
  }
}

.loaderCentered {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 70%;
}

@keyframes fade-in {
  100% {
    opacity: 1;
  }
}
