@import "src/styles/mixins.scss";
@import "src/styles/globals.scss";

.tournamentbloc {
  overflow-y: hidden;
  background-image: url("../../../assets/img/tournamentBlockMobileBg.png");

  @include onDevice(desktop) {
    background-image: url("../../../assets/img/imgBgDesktop.png");
  }
}

.container {
  position: relative;
  overflow: hidden;
  text-align: center;
  display: flex;
  justify-content: center;
  width: 80%;
  height: 70%;
  margin: 40px auto auto auto;
  font-family: "Paytone One", sans-serif;
  background: rgba(0, 0, 0, 0.7);
  border-radius: 10px;
  padding: 20px;
  box-shadow: 0px 10px 30px -5px rgba(0, 0, 0, 0.3);
}

.title {
  font-size: 2.5em;
  margin-bottom: 20px;
}

.text {
  font-size: 1.2em;
  line-height: 1.6;
}
