@import url("https://fonts.googleapis.com/css2?family=Paytone+One&display=swap");

* {
  font-family: "Paytone One", sans-serif;
  box-sizing: border-box;
}

a {
  color: inherit;
  text-decoration: none;
}
