@import "src/styles/mixins.scss";

.playerSection {
  overflow-y: hidden;
  background-image: url("../../../assets/img/imgBgDesktop.png");

  @include onDevice(mobile) {
    background-image: url("../../../assets/img/imgBgMobilePlayerSection.png");
  }
}

.title {
  font-size: 2.5em;
  margin-bottom: 20px;
}

.text {
  font-size: 1.2em;
  line-height: 1.6;
}
