@import "src/styles/mixins.scss";
@import "src/styles/globals.scss";

.container {
  display: flex;
  justify-content: space-around;
  width: 100%;
  align-self: center;
}

.menuButton {
  text-align: center;
  padding: 0 1rem;
  display: flex;
  justify-content: center;
  align-items: center;
  font-family: "Paytone One", sans-serif;
  margin-top: 2rem;
  width: 6rem;
  height: 40px;
  border: none;
  outline: none;
  color: #fff;
  background: #111;
  cursor: pointer;
  position: relative;
  z-index: 1;
  border-radius: $border-radius;
  font-size: 14px;
  transition: transform 0.2s ease-in-out;
  border: 1px solid white;

  &.active {
    transform: scale(1.2);
  }
}
