.container {
  background: linear-gradient(#141e30, #ff4500);
  width: 100vw;
  height: 100vh;
  font-family: "Paytone One", sans-serif;

  header {
    display: flex;
    align-items: center;
    margin-bottom: 2rem;

    h1 {
      color: white;
      font-size: 24px;
    }
  }
}

.backArrow {
  width: 35px;
  height: 35px;
  color: #ff4500;
  margin: 1rem;
}
