@import "src/styles/mixins.scss";

.mainSection {
  overflow-y: hidden;
  background-image: url("../../../assets/img/imgBgDesktop.png");

  @include onDevice(mobile) {
    background-image: url("../../../assets/img/imgBgMobile.jpg");
  }
}
