@import "src/styles/mixins.scss";
@import "src/styles/globals.scss";

.createFormTournament {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    height: 100%;

    label {
        display: flex;
        flex-direction: column;
        height: 50px;
        font-size: 14px;
        
        input,
        textarea,
        select {
            margin: 2px 0;
        }
    }

    .CreateTournamentFormBtn {
        align-self: center;
        text-align: center;
        padding: 0 1rem;
        display: flex;
        justify-content: center;
        align-items: center;
        font-family: "Paytone One", sans-serif;
        margin-top: 0.75rem;
        width: 12rem;
        height: 40px;
        border: none;
        outline: none;
        color: #fff;
        background: #111;
        cursor: pointer;
        position: relative;
        z-index: 1;
        border-radius: $border-radius;
        font-size: 16px;
        transition: transform 0.2s ease-in-out;
        
        &::before {
            content: "";
            background: linear-gradient(
            45deg,
            #b22222,
            #ff4500,
            #ff8c00,
            #ffa500,
            #ffd700,
            #ffff00,
            #891010,
            hwb(57 5% 2%),
            #e10505,
            #ffff00,
            #ffd700,
            #ffa500,
            #ff8c00,
            #ff4500,
            #b22222
            );
            position: absolute;
            top: -2px;
            left: -2px;
            background-size: 400%;
            z-index: -1;
            filter: blur(5px);
            width: calc(100% + 4px);
            height: calc(100% + 4px);
            animation: glowing 20s linear infinite;
            opacity: 1;
            transition: opacity 0.3s ease-in-out;
            border-radius: $border-radius;
        
            @include onDevice(deskstop) {
            opacity: 0;
            }
        }
        
        &:after {
            z-index: -1;
            content: "";
            position: absolute;
            width: 12rem;
            height: 40px;
            background: #111;
            left: 0;
            top: 0;
            border-radius: $border-radius;
        }
    }
}

@keyframes glowing {
    0% {
      background-position: 0 0;
    }
    50% {
      background-position: 400% 0;
    }
    100% {
      background-position: 0 0;
    }
  }