.bloc {
  background-image: url("../../../assets/img/imgBgDesktop.png");
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  height: 100vh;
  width: 100%;
  color: white;
}

@media (max-width: 768px) {
  .bloc {
    background-image: url("../../../assets/img/imgBgMobile.jpg");
  }
}

body {
  margin: 0;
  padding: 0;
  background-color: #000;
}
